   * {
        margin: 0px;
    }
    body {
        margin: 0px;
        background-color: #efeae2;
        font-family: 'Inter', sans-serif;
        overflow: hidden;
    }
    main {
        background: url(https://cdn.statically.io/gh/AlexHostX/another/main/walxa/wbga.png) no-repeat center;
        background-size: cover;
        height: 100vh;
    }
    header {
            position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background: rgb(0 128 105);
    color: #fff;
    justify-content: space-between;
    padding: 7px 0px;
    z-index: 1;
    box-shadow: 0px 0px 4px 0px #07241f;
    }
    .kralxh {
            color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 5px;
    margin-left: 15px;
    justify-content: flex-start;
    max-width: 80%;
    }
    .kralxh i {
            font-size: 17px;
    }
    .kralxh img {
            max-width: 40px;
    max-height: 40px;
    border-radius: 100%;
    }
    .txtalxh {
            max-width: 60%;
    }
    .txtalxh h1 {
            font-size: 18px;
    font-weight: 600;
    max-width: 100%;
    line-height: 25px;
    }
    .txtalxh p {
            font-size: 13px;
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    }
    .knalxh {
            display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
    column-gap: 20px;
    font-size: 18px;
    }
    .fa-phone-plus {
            color: #fff;
    opacity: 0.5;
    }
    alexchat {
            padding-top: 10vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0px 15px;
    }
    .tglalxc {
            background: #f7ffff;
    padding: 3px 15px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 8px;
    color: #444;
    box-shadow: 0px 0px 1px 0px #00000021;
    text-align: center;
    }
    .etealxc {
            text-align: center;
    background: #feeecc;
    padding: 7px 10px;
    font-size: 10px;
    color: #666;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 300;
    }
    .gbgalxc {
        font-weight: 400 !important;
        font-size: 10px !important;
        margin-top: 10px;
        padding: 7px 7px;
    }
    .sialxc {
            width: 100%;
    margin-top: 15px;
    }
    .calxc {
            position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    background: #fff;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 0px 10px 10px 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    }
    .calxc::before {
           content: '';
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    position: absolute;
    left: -12px;
    width: 15px;
    height: 20px;
    top: -0.2px;
    display: block;
    background: #fff;
    }
    nalex {
            display: block;
    font-weight: 600;
    font-size: 13px;
    color: #f44336;
    }
    .isalxcvn {
            display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    }
    .kralxc {
            display: flex;
    flex-direction: row;
    align-items: center;
    }
    .kralxc i {
            font-size: 22px;
    color: #77777791;
    margin-bottom: 14px;
    margin-right: 10px;
    cursor: pointer;
    }
    .stalxcvn {
        
    }
    .talxcvn {
            position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 5px;
    }
    alxbndl {
            position: absolute;
    width: 10px;
    height: 10px;
    color: #1da959;
    display: block;
    left: 0;
    top: 40%;
    z-index: 2;
    border-radius: 100%;
    background: #1da959;
    }
    .talxcvn img {
            opacity: 0.1;
    height: 30px;
    }
    .jmalxcvn {
            width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    margin-top: 5px;
    color: #666;
    }
    .knalxc {
            position: relative;
    margin: 0px 5px;
    margin-left: 10px;
    }
    .knalxc img {
            max-width: 50px;
    max-height: 55px;
    border-radius: 100%;
    }
    .knalxc i {
            color: #1da959;
    text-shadow: 1px -1px 0px white, -1px -1px 0px #ffffff;
    position: absolute;
    left: 0;
    bottom: 6px;
    }
    .valxc {
            position: relative;
    }
    .valxc img {
         border-radius: 10px;
    max-width: 280px;
    }
    .balxcv {
            position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    left: 0;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    color: #fff;
    font-size: 10px;
    }
    .balxcv p {
            margin-right: 10px;
    }
    .dlalxcv {
            margin-left: 10px;
    background: #00000047;
    text-align: center;
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    }
    shalxr {
            font-size: 14px;
    color: #777;
    margin-left: 3px;
    margin-bottom: 3px;
    display: block;
    }
    .jnalxc {
            position: fixed;
    left: 0;
    top: 0;
    background: #0000006e;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    }
    .bxalxjnc {
            background: #fff;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    }
    .bxalxjnc img {
            max-width: 55px;
    max-height: 55px;
    position: absolute;
    text-align: center;
    border-radius: 100%;
    border: 3px solid #fff;
    top: -30px;
    }
    .talxjnt {
            padding-top: 34px;
    text-align: center;
    }
    .talxjnt h1 {
            font-size: 19px;
    font-weight: 600;
    }
    .talxjnt p {
            color: #777;
    font-size: 13px;
    margin-top: 5px;
    }
    .dscalxjnc {
            text-align: center;
    max-width: 80%;
    margin-top: 20px;
    margin-bottom: 15px;
    }
    .dscalxjnc p {
            font-size: 14px;
    }
    .lstalxpc {
            display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    max-width: 360px;
    margin: 0px 10px;
    width: 90%;
    margin-bottom: 8px;
        overflow: scroll;
    padding-bottom: 5px;
    }
    .ialxpc {
            display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    color: #777;
    font-size: 11px;
    }
    .ialxpc img {
            max-width: 50px;
    max-height: 50px;
    border-radius: 100%;
    margin-bottom: 2px;
    position: relative;
    top: 0;
    border: unset;
    }
    #alxmr {display: none;}
    #btmr {color: green;
    font-weight: 500;}
    .pstalxjn {
    width: 90%;
    text-align: left;
    }
    .pstalxjn p {
            color: #777;
    font-size: 12px;
    margin-bottom: 10px;
    }
    .jnalxbt {
            border-top: 1px solid #4444442b;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    padding: 18px 0px;
    }
    .jnalxbt button {
            color: #38b195;
    background: transparent;
    border: none;
    margin-right: 20px;
    font-weight: 600;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    }
    .alxld {
            min-height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    }
    .alxld i {
            color: rgb(0 128 105);
    font-size: 30px;
    }